.capital {
  .p_tabel_s {
    div {
      float: left;
      font-size: 12px;
      width: 29.5%;
      label {
        font-size: 12px;
      }
    }
    div:nth-child(3) {
      width: 25%;
    }
    div:nth-child(4) {
      width: 15.3%;
    }
    i {
      font-size: 13px;
      float: right;
      margin-top: 5px;
      font-weight: 900;
    }
  }
}
