@font-face {
  font-family: 'iconfont';  /* project id 260520 */
  src: url('//at.alicdn.com/t/font_iy2peo2bl4kxd2t9.eot');
  src: url('//at.alicdn.com/t/font_iy2peo2bl4kxd2t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_iy2peo2bl4kxd2t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_iy2peo2bl4kxd2t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_iy2peo2bl4kxd2t9.svg#iconfont') format('svg');
}
