
$primary: #0093F1;

$success: #6da825;

$warning: #f35809;

$danger: #ea3942;

$dark: #454551;

$btn-default-bg: #D8D8D8;
$btn-primary-bg-hover: $primary;
$btn-default-color: #fff;

$btn-primary-bg: $primary;
$btn-primary-bg-hover: #2f81bc;
$btn-primary-color: #fff;

$btn-success-bg: $success;
$btn-success-bg-hover: #619621;
$btn-success-color: #fff;

$btn-warning-bg: $warning;
$btn-warning-bg-hover: #E55308;
$btn-warning-color: #fff;

$btn-danger-bg: $danger;
$btn-danger-bg-hover: #d33139;
$btn-danger-color: #fff;

$btn-link-bg: transparent;
$btn-link-border: transparent;
$btn-link-color: #2972cc;

$tab-bg: #f8f8f8;
$tab-color: #333;
$tab-height: 30px;
$tab-active: $primary;
$tab-large-height: 40px;

$pagination-font-size: 14px;
$pagination-size: 20px;
$pagination-gap: 4px;
$pagination-color: #8d8d8d;
$pagination-disabled-color: #dbdbdb;
$pagination-active-bg: $primary;
$pagination-active-color: #fff;

$range-color: #cbcbcb;
$range-items-height: 3px;
$range-item-size: 9px;
$range-item-clickable-size: 16px;
$range-thumb-size: 12px;

$spinner-color: #fff;

$steps-height: 40px;
$steps-arrow: 10px;
$steps-gap: 10px;
$steps-bg: #ededed;
$steps-color: #5E5E5E;
$steps-active-bg: #98CBEF;
$steps-active-color: #fff;
$steps-current-bg: #3392D6;
$steps-current-color: #fff;
