<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>paging</title>
</head>
<body>
<h1>Paging</h1>

<div class="fixed j_fixed">
    <div class="cont">box</div>
    <div class="v_center"></div>
</div>

<div class="j_btn btn">显示浮层</div>
<div class="j_watch_obj">替换对象的值</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="paging">
    <div class="data_box"></div>
    <div class="paging_point"></div>
</div>

</body>
</html>