//Created by monty.ma on 17/5/31.
.alert_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .alert {
    min-width: 360px;
    height: 192px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
  }
}
