<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>Hello World</h1>
<h3>欢迎来到我的DemoStore</h3>
<p>这里将会发布自制的一些小 demo。</p>
<ul>
    <li>
        <a href="/js-demo">Javascript learning</a>
    </li>
    <li>
        <a href="/paging">分页</a>
    </li>
    <li>
        <a href="/react-demo">React Demo</a>
    </li>
    <li>
        <a href="/vue">Vue Demo</a>
    </li>
    <li>
        <a href="/observer">观察者模式</a>
    </li>
</ul>
</body>
</html>